<div fxLayout fxLayout="space-between center">
  <mat-nav-list fxFlex [fxLayout]="isHandset() ? 'column' : 'row'" class="padding-top_0">
    <a mat-list-item href="#home">
      <span class="mat-subheading-1 margin_0 text-transform_uppercase" [class.theme-accent_color]="isActive('home')">Home</span>
    </a>

    <a mat-list-item href="#about" class="menu-item">
      <span class="mat-subheading-1 margin_0 text-transform_uppercase" [class.theme-accent_color]="isActive('about')">About</span>
    </a>

    <a mat-list-item href="#resume" class="menu-item">

      <span class="mat-subheading-1 margin_0 text-transform_uppercase" [class.theme-accent_color]="isActive('resume')">Resume</span>
    </a>

    <a mat-list-item href="#portfolio" class="menu-item">
      <span class="mat-subheading-1 margin_0 text-transform_uppercase" [class.theme-accent_color]="isActive('portfolio')">Portfolio</span>
    </a>

    <a mat-list-item href="#blog" class="menu-item">
      <span class="mat-subheading-1 margin_0 text-transform_uppercase" [class.theme-accent_color]="isActive('blog')">Blog</span>
    </a>

    <a mat-list-item href="#contact" class="menu-item">
      <span class="mat-subheading-1 margin_0 text-transform_uppercase" [class.theme-accent_color]="isActive('contact')">Contact</span>
    </a>
  </mat-nav-list>

  <div *ngIf="!isHandset()" fxLayout fxLayoutAlign="space-between center" fxLayoutGap="16px"
    class="phone position_relative padding-left_32p margin-left_16p">
    <div class="phone-divider position_absolute height_16p left_0 theme-primary_background_50"></div>
    <mat-icon class="dimension-16p">phone</mat-icon>

    <span class="mat-subheading-1 margin_0 theme-accent_color">+355 69 6402822</span>
  </div>
</div>
