<div class="padding-top_128p">
  <app-section-header class="header display_block" label="Services"></app-section-header>

  <div fxLayout fxLayoutAlign="center" class="padding-top_16p">
    <div class="width_100 container-max-width" [class.padding-aside_16p]="!isHandset()">
      <div fxFlex fxLayout="row wrap" class="service-item-container">
        <app-service-item *ngFor="let service of services" [item]="service" fxFlex="33.3333" class="display_block">
        </app-service-item>
      </div>
    </div>
  </div>
</div>
