.animation-color_change {
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { color: #ff6961; }
  50% { color: #ffffff; }
  100% { color: #ff6961; }
}

.animation-text_scroll {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: transform;
  transition-timing-function: linear;
  transition-duration: 1s;
}
