@use 'sass:map';
@use '@angular/material' as mat;

@mixin universal-colors($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $foreground: map.get($theme, foreground);
  $background: map.get($theme, background);

  /*Primary*/

  //Background
  .theme-primary_background {
    background-color: mat.get-color-from-palette($primary);
  }

  .theme-primary_background_darker {
    background-color: mat.get-color-from-palette($primary, darker);
  }

  .theme-primary_background_lighter {
    background-color: mat.get-color-from-palette($primary, lighter);
  }

  .theme-primary_background_50 {
    background-color: mat.get-color-from-palette($primary, 50);
  }

  .theme-primary_background_100 {
    background-color: mat.get-color-from-palette($primary, 100);
  }

  .theme-primary_background_200 {
    background-color: mat.get-color-from-palette($primary, 200);
  }

  .theme-primary_background_300 {
    background-color: mat.get-color-from-palette($primary, 300);
  }

  .theme-primary_background_400 {
    background-color: mat.get-color-from-palette($primary, 400);
  }

  //Border
  .theme-primary_border {
    border-color: mat.get-color-from-palette($primary);
  }

  .theme-primary_border_200 {
    border-color: mat.get-color-from-palette($primary, 200) !important;
  }

  //Color
  .theme-primary_color {
    color: mat.get-color-from-palette($primary);
  }

  .theme-primary_color_lighter {
    color: mat.get-color-from-palette($primary, lighter);
  }

  .theme-primary_color_300 {
    color: mat.get-color-from-palette($primary, 300);
  }

  /*Accent*/

  //Background
  .theme-accent_background {
    background-color: mat.get-color-from-palette($accent);
  }

  .theme-accent_background_darker {
    background-color: mat.get-color-from-palette($accent, darker);
  }

  .theme-accent_background_lighter {
    background-color: mat.get-color-from-palette($accent, lighter);
  }

  //Color
  .theme-accent_color {
    color: mat.get-color-from-palette($accent);
  }

  .theme-accent_color_darker {
    color: mat.get-color-from-palette($accent, darker);
  }

  .theme-accent_color_lighter {
    color: mat.get-color-from-palette($accent, lighter);
  }
  /*Warn*/

  //Background
  .theme-warn_background {
    background-color: mat.get-color-from-palette($warn);
  }

  //Border
  .theme-accent_border_200 {
    border-color: mat.get-color-from-palette($accent, 200) !important;
  }

  .theme-accent_border {
    border-color: mat.get-color-from-palette($accent) !important;
  }

  //Color
  .theme-warn_color {
    color: mat.get-color-from-palette($warn);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: mat.get-color-from-palette($accent, lighter);
  }

  ::-webkit-scrollbar-track-piece {
      background: mat.get-color-from-palette($primary, 100)
  }

  ::-webkit-scrollbar-thumb {
      background: mat.get-color-from-palette($accent);
  }
}

.color-aqua {
    color: #4ec5c1;
}

.color-black {
    color: #000000;
}

.color-blue {
  color: #61a2ff;
}

.color-blue_light {
  color: #428bca;
}

.color-brown {
  color: #a94442;
}

.color-crocodile {
    color: #717B0A ;
}

.color-electricLime {
    color: #88d317;
}

.color-gold {
    color: #ffd700;
}

.color-gray {
  color: #808080;
}

.color-green {
  color: #4CAF50;
}

.color-pink {
  color: #fd397a;
}

.color-purple {
  color: #9c27b0;
}

.color-red {
  color: #ff6961;
}

.color-scrub {
    color: #c0b3ad;
}

.color-white {
  color: #ffffff;
}
