html,
body,
app-root {
    display: block;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    // font-family: 'Roboto', Arial, sans-serif;
    font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px
}

::-webkit-scrollbar-thumb:hover {
    background: #afadaf;
}

::-webkit-scrollbar-track-piece {
    opacity: 0.5;
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #ccc8cc;
    border-radius: 10px;
}
