<div fxLayout fxLayoutAlign="space-between center" class="
  padding-right_16p padding-left_16p theme-primary_background_lighter
  theme-primary_border_200 social-media-container fadeInLeft">

  <ng-container *ngFor="let socialMedia of socialMedias">
    <a href="#" color="primary" class="social-media-button theme-primary_border_200">
      <div fxLayout fxLayoutAlign="start stretch">
        <div fxLayout fxLayoutAlign="center center" class="social-media-icon">
          <mat-icon [svgIcon]="socialMedia.icon"></mat-icon>
        </div>

        <div fxFlex fxLayout fxLayoutAlign="center center" class="social-media-name">
          <span class="font-size_16p">{{ socialMedia.name }}</span>
        </div>
      </div>
    </a>
  </ng-container>

</div>
