<div class="padding-top_128p">
  <app-section-header class="display_block" label="About me"></app-section-header>

  <div fxLayout fxLayoutAlign="center" class="padding-top_16p">
    <div fxFlex fxLayoutAlign="space-between stretch" fxLayoutGap="8px" class="width_100 container-max-width"
      [class.padding-aside_16p]="!isHandset()">
      <div fxFlex>
        <div class="padding-right_16p">
          <div class="about-me-img"></div>
        </div>
      </div>

      <div fxFlex fxLayoutAlign="space-between center">
        <app-bio [me]="me" class="display_block height_100 padding-left_16p"></app-bio>
      </div>
    </div>
  </div>
</div>
