.header {
  padding-top: 100px;
}

.about-me-img {
  background-image: url('/assets/images/jpg/me-2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 550px;
}
