<app-section-header class="header display_block" label="About me"></app-section-header>

<div fxLayout fxLayoutAlign="center">
  <div fxFlex fxLayoutAlign="space-between stretch" fxLayoutGap="8px" class="width_100 container-max-width"
    [class.padding_16p]="!isHandset()">
    <div fxFlex>
      <div class="padding-right_32p">
        <div class="about-me-img"></div>
      </div>
    </div>

    <div fxFlex fxLayoutAlign="space-between center">
      <app-bio fxFlexFill class="display_block"></app-bio>
    </div>
  </div>
</div>
