<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport [attr.role]="getSidenavRole()" [mode]="getSidenavMode()"
    [opened]="isSidenavOpened()">
    <mat-toolbar>
      <img src="assets/images/.png/logo.png" class="height_50"/>
    </mat-toolbar>

    <app-menu *ngIf="isHandset()"></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header [sidenav]="sidenav"></app-header>

    <main>
      <app-intro></app-intro>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
