<div class="padding-top_32p">
  <div fxLayout fxLayoutAlign="center" class="padding-top_16p">
    <div fxFlex fxLayoutAlign="space-between" class="width_100 container-max-width"
      [class.padding-aside_16p]="!isHandset()">
      <div fxFlex>
        <div class="padding-right_16p">
          <div fxLayout fxLayoutAlign="start center" fxLayoutGap="8px" class="padding_8p">
            <mat-icon svgIcon="logo:v1" class="logo"></mat-icon>
            <span>© 2022 Astrit Demiri</span>
          </div>
        </div>
      </div>

      <div fxFlex>
        <div fxLayout fxLayoutAlign="space-between" fxLayoutGap="8px" class="padding-left_16p">
          <div>
            <mat-nav-list fxFlex class="padding-top_0">
              <a mat-list-item href="#">
                <span class="mat-caption">Blog</span>
              </a>

              <a mat-list-item href="#" class="menu-item">
                <span class="mat-caption">About</span>
              </a>

              <a mat-list-item href="#" class="menu-item">
                <span class="mat-caption">Shop</span>
              </a>

              <a mat-list-item href="#" class="menu-item">
                <span class="mat-caption">Contact</span>
              </a>
            </mat-nav-list>
          </div>

          <div>
            <mat-nav-list fxFlex class="padding-top_0">
              <a mat-list-item href="#">
                <span class="mat-caption">API</span>
              </a>

              <a mat-list-item href="#" class="menu-item">
                <span class="mat-caption">Training</span>
              </a>

              <a mat-list-item href="#" class="menu-item">
                <span class="mat-caption">Status</span>
              </a>

              <a mat-list-item href="#" class="menu-item">
                <span class="mat-caption">Security</span>
              </a>
            </mat-nav-list>
          </div>

          <div>
            <mat-nav-list fxFlex class="padding-top_0">
              <a mat-list-item href="#">
                <span class="mat-caption">Terms</span>
              </a>

              <a mat-list-item href="#" class="menu-item">
                <span class="mat-caption">Privacy</span>
              </a>

              <a mat-list-item href="#" class="menu-item">
                <span class="mat-caption">Docs</span>
              </a>
            </mat-nav-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
