.logo {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  font-size: 50px;
}

.logo mat-icon {
  width: 50px;
  height: 50px;
  opacity: .4;
}

.mouse-over .logo mat-icon {
  opacity: 1;
}

.label {
  font-size: 20px;
}

.description {
  opacity: .65;
  font-size: 16px;
  line-height: 24px;
}
