<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport [attr.role]="getSidenavRole()" [mode]="getSidenavMode()"
    [opened]="isSidenavOpened()">
    <mat-toolbar>
      <mat-icon svgIcon="logo:v1" class="logo theme-accent_color"></mat-icon>
    </mat-toolbar>

    <app-menu *ngIf="isHandset()"></app-menu>
  </mat-sidenav>

  <mat-sidenav-content fxLayout="column">
    <app-header [sidenav]="sidenav" class="display_block width_100"></app-header>

    <main fxFlex class="overflow-y_scroll">
      <router-outlet></router-outlet>
      <app-footer class="display_block position_relative padding-bottom_32p theme-primary_background"></app-footer>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
