.blog-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.blog-link {
  color: inherit;
  text-decoration: none;
}

.blog-image:hover {
  background-size: 110%;
}
