<ng-container *ngIf="item">
  <div fxLayout="column" fxLayoutGap="16px">
    <div fxLayout fxLayoutAlign="left center" fxLayoutGap="16px">
      <ng-container *ngIf="item.isMatIcon; else svgLogo">
        <mat-icon class="icon material-icons-outlined dimension-64p opacity_0_5">{{ item.icon }}</mat-icon>
      </ng-container>

      <h1 class="mat-display-1 margin_0">
        <span class="font-family_secondary">{{ item.title }}</span>
      </h1>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="32px" class="details-container margin-left_16p theme-primary_border_200">
      <app-resume-detail-item *ngFor="let detail of item.details" [item]="detail"></app-resume-detail-item>
    </div>
  </div>


  <ng-template #svgLogo>
    <mat-icon [svgIcon]="item.icon"></mat-icon>
  </ng-template>
</ng-container>
