<ng-container *ngIf="me">
  <div class="fadeInLeft">
    <h1 class="line-height_1">
      <span class="mat-display-1 font-weight_300 font-family_secondary theme-accent_color">Hello, I’m</span>
    </h1>

    <h1 class="line-height_1 font-family_secondary">
      <span class="text-name mat-display-4 font-family_secondary">{{ me.name }} <br> {{ me.surname }}</span>
    </h1>

    <h2 class="line-height_1">
      <span class="mat-display-1 font-weight_300 font-family_secondary opacity_0_5">{{ me.profession }}</span>
    </h2>

    <div class="margin-top_32p">
      <a href="#contact" mat-raised-button color="accent"
        class="padding-horizontal_32p padding-vertical_8p font-size_16p">Hire me</a>
    </div>
  </div>
</ng-container>
