<div class="fadeInLeft">
  <h1 class="text-hello line-height_1">
    <span class="theme-accent_color mat-display-1 font-weight_300 font-family_secondary">Hello, I’m</span>
  </h1>

  <h1 class="line-height_1 font-family_secondary">
    <span class="text-name mat-display-4 font-family_secondary">Astrit <br> Demiri</span>
  </h1>

  <h2 class="text-profession line-height_1">
    <span class="opacity_0_5 mat-display-1 font-weight_300 font-family_secondary">Web Developer</span>
  </h2>

  <div class="margin-top_32p">
    <a href="#contact" mat-raised-button color="accent"
      class=" padding-horizontal_32p padding-vertical_8p font-size_16p">Hire me</a>
  </div>
</div>
