<div fxLayout="column" fxLayoutGap="16px">
  <mat-form-field color="accent" appearance="fill">
    <mat-label>Your Name</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field color="accent" appearance="fill">
    <mat-label>Your Email</mat-label>
    <input matInput type="email">
  </mat-form-field>

  <mat-form-field color="accent" appearance="fill">
    <mat-label>Your Subject</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field color="accent" appearance="fill">
    <mat-label>Your Message</mat-label>
    <textarea matInput rows="6"></textarea>
  </mat-form-field>
</div>

<div fxLayout fxLayoutAlign="end">
  <button mat-raised-button color="accent">Send Message</button>
</div>
