<!-- <app-particles [options]="particleOptions" fxFlexFill class="display_block position_absolute overflow_hidden top_0 left_0 opacity_0_65">
</app-particles> -->

<div fxFlexFill fxLayout fxLayoutAlign="center">
  <div fxFlex fxLayoutAlign="space-between center" class="width_100 container-max-width"
    [class.padding-aside_16p]="!isHandset()">
    <app-info [me]="me" class="display_block"></app-info>
  </div>
</div>

<div fxFlex="25" fxLayout class="social-media position_absolute bottom_0 width_100 z-index_1">
  <app-social-media [media]="socialMedia" fxFlexFill fxFlexAlign="end" class="display_block margin-bottom_32p"></app-social-media>
</div>

<div fxFlex="45" fxLayout class="position_absolute top_0 right_0 width_100 height_100 z-index_1">
  <div fxFlexFill class="position_relative overflow_hidden">
    <img fxFlexFill src="./assets/images/jpg/me.jpg" class="fadeInRight" />
    <!-- <app-water-ripple image="./assets/images/jpg/me.jpg" fxFlexFill class="display_block position_absolute top_0 left_0 fadeInRight">
  </app-water-ripple> -->
  </div>
</div>
