$palette: (
 50: #FFF8E9,
 100: #FFEEC7,
 200: #FFE2A2,
 300: #FED67C,
 400: #FECE60,
 500: #FEC544,
 600: #FEBF3E,
 700: #FEB835,
 800: #FEB02D,
 900: #FDA31F,
 A100: #FFFFFF,
 A200: #FFFFFF,
 A400: #FFE9CD,
 A700: #FFDEB3,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: rgba(black, 0.55),
   400: rgba(black, 0.55),
   500: rgba(black, 0.55),
   600: rgba(black, 0.55),
   700: rgba(black, 0.55),
   800: rgba(black, 0.55),
   900: rgba(black, 0.55),
   A100: rgba(black, 0.55),
   A200: rgba(black, 0.55),
   A400: rgba(black, 0.55),
   A700: rgba(black, 0.55)
 )
);
