.section-header {
  height: 70px;
}

.header-name {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header-underline {
  width: 180px;
  height: 2px;
}

.header-border {
  position: absolute;
  width: 60px;
  height: 2px;
  left: 33.33%;
  transition: 0.3s;
}

.header-container:hover .header-border {
  width: 180px;
  left: 0;
}

.header-background {
  top: 20px;
  font-size: 90px;
  font-weight: 700;
}
