<div fxLayout fxLayoutAlign="center" class="section-header position_relative">
  <div class="position_absolute z-index_1">
    <div fxLayout="column" fxLayoutAlign="start center" class="header-container">
      <h4 class="header-name text-align_center theme-accent_color">{{ name }}</h4>
      <div class="header-underline theme-primary_background_100 position_relative">
        <div class="header-border theme-accent_background"></div>
      </div>
    </div>
  </div>

  <h2 class="header-background position_absolute width_100 margin_0
    text-transform_uppercase text-align_center theme-primary_color_lighter">
    {{ name }}</h2>
</div>
