<div fxLayout fxLayoutAlign="center" class="section-header position_relative">
  <div class="position_absolute z-index_1">
    <div fxLayout="column" fxLayoutAlign="start center" class="header-container">
      <h4 class="header-label">
        <span class="font-family_secondary text-transform_uppercase text-align_center theme-accent_color">{{ label }}</span>
      </h4>
      <div class="header-underline theme-primary_background_200 position_relative">
        <div class="header-border theme-accent_background transition_300ms"></div>
      </div>
    </div>
  </div>

  <h2 class="header-background position_absolute width_100 margin_0
    text-transform_uppercase text-align_center font-weight_bold theme-primary_color_lighter">
    <span class="font-family_secondary">{{ label }}</span>
  </h2>
</div>
