@use '@angular/material' as mat;
@use "./palette/dark-grey" as palette-dark-grey;
@use "./palette/orange" as palette-orange;

@include mat.core();

$palette-dark-grey: mat.define-palette(palette-dark-grey.$palette);
$palette-orange: mat.define-palette(palette-orange.$palette);
$palette-pink: mat.define-palette(mat.$pink-palette);

$theme: mat.define-dark-theme((
  color: (
    primary: $palette-dark-grey,
    accent: $palette-orange,
    warn: $palette-pink
  )
));
